body {
    background-color: aqua;
    font-family: sans-serif, Verdana, Geneva, Tahoma ;
    background-size: 100%;
    letter-spacing: 0.5px;
}

#wrapper {
    background-color: rgb(232, 235, 95);
    width: 90%;
    max-width: 980px;
    border-radius: 8px;
    margin: 20px auto;
    box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.7);
    box-sizing: border-box;
    padding: 20px 0 50px;
    border: 1px solid lightcoral;
    overflow: hidden;
}

#page-banner {
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

.title {
    font-family: cursive;
    color: rgb(184, 51, 17)
}

.name {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

#movie-list, #add-movie {
    margin: 25px;
}

#movie-list ul {
    list-style-type: none;
    padding: 0;
}

#movie-list li {
    padding: 15px;
    border-left: 5px solid rgb(130, 46, 207);
    margin: 20px 10px;
}

#movie-list li:hover {
    border-color: rgb(2, 139, 37);
}

.delete {
    float: right;
    background: rgb(226, 30, 30);
    padding: 6px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.delete:hover {
    background: rgb(74, 12, 110);
}

#add-movie {
    margin: 0 auto;
    padding-left: 19rem;
}

#add-movie input {
    display: block;
    margin: 20px 0;
    padding: 10px;
    border: 1px solid rgb(128, 11, 128);
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    width: 350px;
    float: left;
    clear: both;
}

#add-movie button {
    border: 1px solid rgb(128, 11, 128);
    border-radius: 5px;
    background: rgb(149, 219, 247);
    color: black;
    padding: 8px 15px;
    font-size: 16px;
    cursor: pointer;
    margin: 20px;
    font-weight: bold;
}

#add-movie button:hover {
    background: rgb(70, 235, 70);
}

#add-movie:after {
    content: "";
    display: block;
    clear: both;
}

#add-movie label {
    line-height: 50px;
}